**
!requirements.txt
!requirements-online.txt
!requirements-test.txt
!pyproject.toml
!README.md
!LICENSE
!netease_music_insight/
!netease_music_insight/**
!scripts/
!scripts/prepare_online_api.py
!deploy/
!deploy/netease-package-lock.json
**/__pycache__/**
**/*.pyc
**/.env*
**/output/**
**/logs/**
**/.cache/**
